html {
    height: 100%;
}
.main-page {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100vh !important;
    display: flex;
}
#main-container {
    background-color: white !important;
}
.body-container {
    max-width: 1900px;
}
.custom-container {
    max-width: 700px !important;
    margin: auto;
}
@media only screen and (max-width: 1200px) {
    .body-container {
        max-width: 900px !important;
    }
  
    .video {
        left: 33% !important;
    }
   
}
@media only screen and (max-width: 768px) {
    .body-container {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .video {
        display: none;
    }
}
.card-body {
    margin-top: 10px;
}
.video {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(
        270deg
    );
    left: 40%;
}
.social-icon {
    width: 30px;
    height: 30px;
}
.card-header {
    padding-bottom: 0 !important;
}
.card-body {
    padding-top: 0 !important;
}
.select2 {
    width: 100% !important;
}
.footer_img {
    position: absolute;
    bottom: 30px;
}