.c-header-nav .dropdown-item {
     min-width: auto !important; 
}


ul.active>a {
    font-weight: bolder !important;
}

.page-main-title {
    color: #1e3d73 !important;
    margin-bottom: 1em !important;
    text-transform: capitalize !important;
}

img.header-logo {
    width: 225px;
    height: auto;
}

img.header-project-logo {
    width: 225px;
    height: 108px !important;
}

td {
    vertical-align: middle !important;
}

.menu-icon {
    font-size: 50px !important;
}

.subtotals-row {
    background-color: #c8dfc89e;
    font-weight: bolder;
}

.subtotals-row input,
.subtotals-row .input-group-text {
    font-weight: bold;
}

.no-border {
    border: none !important;
}

.calculation-row {
    background-color: #e9ecef;
    font-weight: 600;
}

.calculation-row input {
    font-weight: 600;
}

.text-xx-small {
    font-size: xx-small !important;
}

.valign-top {
    vertical-align: top !important;
}

.required-icon {
    margin-left: -6px;
    padding-right: 5px;
}

/* Form Input */

.input-group-prepend .input-group-text {
    background-color: transparent;
    border: 1px solid var(--bordercolor);
    border-right: none;
    font-size: 13px;
}

.input-group-append .input-group-text {
    background-color: transparent;
    border: 1px solid var(--bordercolor);
    border-left: none;
    font-size: 13px;
}

.input-group-text {
    color: var(--bodycolor);
}

.form-group {
    position: relative;
}

.form-group .form-control+.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-group .form-control:focus+.form-control-placeholder {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.form-group .form-control.form-control-lg+.form-control-placeholder {
    padding: 14px 0 0 13px;
}

.form-group .form-control.form-control-lg.float-input:focus {
    padding: 1.2rem 1rem .3rem 1rem;
}

.form-group .form-control.form-control-lg.float-input:focus+.form-control-placeholder {
    font-size: 70%;
    transform: translate3d(0, -40%, 0);
}

.form-group .input-group .input-group-prepend+.form-control+.form-control-placeholder {
    left: 40px;
}

.input-primary .form-control:focus {
    border-color: var(--primarycolor);
}

.input-primary .form-control:focus+.form-control-placeholder {
    color: var(--primarycolor);
}

.input-secondary .form-control:focus {
    border-color: var(--secondary);
}

.input-secondary .form-control:focus+.form-control-placeholder {
    color: var(--secondary);
}

.input-warning .form-control:focus {
    border-color: var(--warning);
}

.input-warning .form-control:focus+.form-control-placeholder {
    color: var(--warning);
}

.input-danger .form-control:focus {
    border-color: var(--danger);
}

.input-danger .form-control:focus+.form-control-placeholder {
    color: var(--danger);
}

.input-info .form-control:focus {
    border-color: var(--info);
}

.input-info .form-control:focus+.form-control-placeholder {
    color: var(--info);
}

.input-dark .form-control:focus {
    border-color: var(--dark);
}

.input-dark .form-control:focus+.form-control-placeholder {
    color: var(--dark);
}

.input-success .form-control:focus {
    border-color: var(--success);
}

.input-success .form-control:focus+.form-control-placeholder {
    color: var(--success);
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
}

.sidebar-logo {
    /*width: 100px;*/
    width: 36px;
    height: auto;
}

.text-large {
    font-size: 20px;
}

.droodown-item:hover {
    background-color: #f0f3f5 !important;
}